.tag, .tags {
    display: flex;
}

.tags {
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.tag {
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    column-gap: 5px;
}

.active-filters {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 10px;
}

.clear-all-btn{
    border: none;
    background-color: transparent;
    color : blue;
    text-transform: capitalize;
    cursor: pointer;

}